$bgColor: pink;
$fontColor: white;
$fontSize: 1.5rem;
$fontFamily: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$navBgColor: #30a7c3;
$myBorder: 2px solid rgb(175, 29, 29);
$myLinkSize: 1.1rem;
$bannerBgColor: #cc6699;