@import "variables";

// _variables.scss seklinde değişkenleri tuttugum bir dosya olusturdum 
// ve daha sonra bu dosyayı import ettim.

* {
  margin: 0;
  padding: 0;
}


// $bgColor: pink;
// $fontColor: white;
// $fontSize: 1.5rem;
// $fontFamily: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
// $navBgColor: #30a7c3;
// $myBorder: 2px solid rgb(175, 29, 29);
// $myLinkSize: 1.1rem;
// $bannerBgColor: #cc6699;

// Variable Usage
body {
  font-family: $fontFamily;
  background-color: $bgColor;
  color: $fontColor;
  font-size: $fontSize;
}
// HEADER KISMI ; 
header {
   padding: 1rem; 
  background-color: $navBgColor;

  img {
    border: $myBorder; 
    border-radius: 1rem; 
    width: 100px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    a {
      color: $fontColor;
      text-decoration: none;
      padding: 0.5rem;
    }
    ul {
      list-style-type: none;
      li {
        display: inline-block;
       &:hover{                       //içinde bulundugumuz elementi refere etmek için "&" kullanıyoruz.
           text-decoration: underline;
       }
      }
    }
  }
}

// MAIN KISMI;

main {
    .banner {
        align-items: center;
        background-color: $bannerBgColor;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        line-height: 2.5rem;
    }
    button {
        padding: 0.8rem;
        background-color: $navBgColor;
        border: none;
        border-radius: 1rem;
        font-size: $myLinkSize;
        width: 10rem;
        margin-right: 0.5rem;
        margin-top: 1.5rem;
        &:hover {
            background-color: $bgColor;
            cursor: pointer;
        }
    }
    img {
        width: 30%;
        min-width: 300px;
        max-width: 400px;
    }
}

// CARDS;

@mixin myBox ($bgColor, $fontColor){    // DEĞİŞKENLERİ PARAMETRE OLARAK ALDIK. VE BU PARAMETRELERİ MIXIN IN ICINDE KULLANDIK.
    background-color: $bgColor;         //MIXIN İSE ASAGIDA INCLUDE ILE INVOKE ETTIK.
    width: 25%;
    color: $fontColor;
    height: 20rem;
    border: $myBorder;
    border-radius: 5px;
    margin: 0.5rem;
}

.cards{
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 1rem;

    .card1{
        @include myBox(brown, white);
    }
    .card2 {
        @include myBox(lightblue, rgb(103, 165, 103))
    }
    .card3 {
        @include myBox(lightgreen, white)

    }
    .card4{
        @include myBox(lightyellow, rgb(20, 7, 7))

    }

}

.articles {
    display: flex;
    padding: 1rem;
    .article1 {
        width: 50%;
        background-color: gray;
        border-radius: 10px;
        border: 1px solid black;
        height: 10rem;
        margin: 1rem;
        padding: 0.5rem;
    }
    .article2 {
        @extend .article1;              // .article1 classı nın özelliklerini kullanmak için extend kullandık.
        background-color: lightblue;  //bgcolor overwrite edildi.
    }
}

// FOOTER
$textColor: black , rgb(63, 63, 114), rgb(145, 56, 71) , rgb(73, 172, 73) , rgb(192, 192, 65);



.footer {
   
    .social-icons{
        height: 10rem;
        display: flex;
        @for $i from 1 to 6 {
            .social#{$i}{

                width: 20%;
                height: 100%;
                background-color: darken( #b19494, $i * 5%); 
                color: nth($textColor, $i);
                font-size: $i*1rem;
            }
        }
    }
}